<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzWIKCL8zVIuL5QoaM3h52TcsNs2yk5bs</string>
	<key>GCM_SENDER_ID</key>
	<string>925444887724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutterexplained.webrtc</string>
	<key>PROJECT_ID</key>
	<string>chat-app-40dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-40dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925444887724:ios:44ae54b7768ede75287b09</string>
</dict>
</plist>